*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;

}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    /* background-color:#65c469; */
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500px;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid black;
    font-weight: 500px;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;

}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
    
}
#btn2{
    color: white;
    border: none;
    background-color: orangered;
}

#main > h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

img{
    height: 380px;
    width: 280px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 35px;
    transform: translate(-50%,-50%);
    
}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    top: 95%;
    left: 3%;
    font-size: 17px;
}


#footer{
    position: absolute;
    top: 95%;
    right: 3%;
    font-size:20px;
    
}

